.slide-layout{
    font-size: 1rem;
}

.norm {
    font-family: 'Open Sans';
    font-size: 0.8rem;
    line-height: 1.5em;
}

.hl {
    font-family: 'Open Sans';
    font-size: 1.1rem;
    font-weight: bold;
}

.hl-color {
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: bold;
    color: #357EC7;
}

.hl-bg {
    font-family: 'Open Sans';
    font-weight: bold;
    background-color: #f4f0ec;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}

.uline {
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='1' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    --line-dark: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(15, 72%, 70%)' stroke-width='1' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    font-family: var(--system);
    font-size: 1rem;
    line-height: 1.7;
    color: inherit;
    background: var(--line-yellow) bottom left/100% .3em no-repeat;
    text-decoration: none;
    padding-bottom: .3em;
    background-image: var(--line-dark);
}

.katex {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 0.8rem !important;
    color: #357EC7;
    line-height: 1.5em;
}


table.ops {
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
    font-family: 'Open Sans';
    text-align: left;
}


table.ops thead th {
    font-weight: bold;
    color: #ffffff;
	padding: 8px;
	background-color: #4472c4;
    border-width: 3px 1px;
    border-style: solid;
    border-color: #ffffff;
}

table.ops th, table.ops td {
    width: 20%;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

table.ops td {
    color: #357EC7;
}

table.ops tr.odd {
	background-color: #cfd5ea;
}

table.ops tr.even {
	background-color: #e9ebf5;
}


table.flashcard {
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
    font-family: 'Open Sans';
    font-size: 15px;
    text-align: left;
}


table.flashcard thead th {
    height: 10px;
    color: #ffffff;
	padding: 0px;
	background-color: #4472c4;
    border-width: 3px 1px;
    border-style: solid;
    border-color: #ffffff;
}

table.flashcard th, table.flashcard td {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

table.flashcard th {
    vertical-align: top;
}

table.flashcard tr.odd {
	background-color: #cfd5ea;
}

table.flashcard tr.even {
	background-color: #e9ebf5;
}
